In [1]:
import zipfile
import os

In [2]:
odp_hourly_path="../data/odp_met_hourly/"

In [3]:
files = os.listdir(odp_hourly_path)

files

['HABP_1H_SYNOP_20240723051604.csv.zip',
 'HABP_1H_SYNOP_20240722121605.csv.zip',
 'HABP_1H_SYNOP_20240722211603.csv.zip',
 'HABP_1H_SYNOP_20240722231606.csv.zip',
 'HABP_1H_SYNOP_20240723031604.csv.zip',
 'HABP_1H_SYNOP_20240722111604.csv.zip',
 'HABP_1H_SYNOP_20240722141605.csv.zip',
 'HABP_1H_SYNOP_20240722181605.csv.zip',
 'HABP_1H_SYNOP_20240723061604.csv.zip',
 'HABP_1H_SYNOP_20240722161605.csv.zip',
 'HABP_1H_SYNOP_20240723011604.csv.zip',
 'HABP_1H_SYNOP_20240722171603.csv.zip',
 'HABP_1H_SYNOP_20240722081608.csv.zip',
 'HABP_1H_SYNOP_20240722201603.csv.zip',
 'HABP_1H_SYNOP_20240723001603.csv.zip',
 'HABP_1H_SYNOP_20240722091606.csv.zip',
 'HABP_1H_SYNOP_20240723041604.csv.zip',
 'HABP_1H_SYNOP_20240722131605.csv.zip',
 'HABP_1H_SYNOP_20240723021605.csv.zip',
 'HABP_1H_SYNOP_20240722191604.csv.zip',
 'extracted',
 'HABP_1H_SYNOP_20240722101604.csv.zip',
 'HABP_1H_SYNOP_20240722151605.csv.zip',
 'HABP_1H_SYNOP_20240723071605.csv.zip',
 'HABP_1H_SYNOP_20240722221604.csv.zip']

In [4]:

from pathlib import Path
fn = files[0]
folder=odp_hourly_path+'extracted/'+Path(files[0]).stem

if not os.path.exists(folder):
    with zipfile.ZipFile(odp_hourly_path+fn, 'r') as zip_ref:
        os.mkdir(folder)
        zip_ref.extractall(folder)

In [5]:
test_file = ''

def read_file_with_heather(filename):
    with open(filename) as fd:
        headers = [ next(fd).replace('#','').strip() for i in range(4) ]
        print(headers[1])
        print(headers[2])
        df = pd.read_csv(fd, sep=';', decimal=',')
        return headers, df

for folder in os.listdir(odp_hourly_path+'extracted/'):
    for fn in os.listdir(odp_hourly_path+'extracted/'+folder+"/"):
        test_file=odp_hourly_path+'extracted/'+folder+'/' + fn
        print(test_file)

../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722191604/HABP_1H_SYNOP_20240722191604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722181605/HABP_1H_SYNOP_20240722181605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722221604/HABP_1H_SYNOP_20240722221604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722201603/HABP_1H_SYNOP_20240722201603.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722211603/HABP_1H_SYNOP_20240722211603.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722101604/HABP_1H_SYNOP_20240722101604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722131605/HABP_1H_SYNOP_20240722131605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722121605/HABP_1H_SYNOP_20240722121605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723051604.csv/HABP_1H_SYNOP_20240723051604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722111604/HABP_1H_SYNOP_20240722111604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722151605/HABP_1H_SYNOP_20240722151605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722141605/HABP_1H_SYNOP_20240722141605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722171603/HABP_1H_SYNOP_20240722171603.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722161605/HABP_1H_SYNOP_20240722161605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723061604/HABP_1H_SYNOP_20240723061604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723071605/HABP_1H_SYNOP_20240723071605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723041604/HABP_1H_SYNOP_20240723041604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723051604/HABP_1H_SYNOP_20240723051604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722091606/HABP_1H_SYNOP_20240722091606.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723021605/HABP_1H_SYNOP_20240723021605.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723011604/HABP_1H_SYNOP_20240723011604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723001603/HABP_1H_SYNOP_20240723001603.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722081608/HABP_1H_SYNOP_20240722081608.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240723031604/HABP_1H_SYNOP_20240723031604.csv
../data/odp_met_hourly/extracted/HABP_1H_SYNOP_20240722231606/HABP_1H_SYNOP_20240722231606.csv

In [6]:
import pandas as pd
import numpy as np

In [7]:


headers,df = read_file_with_heather(test_file)

202407222200;        44165;Budapest Újpest                         ; 47.5733;  19.0750;    104.8;  0.0;    ; 25.1;    ; 25.6;    ; 25.1;    ; 25.9;    ;  -999;    ;   -999;    ;  62;    ;    -999;    ;   -999;    ;  -999;     ;  3.0;    ; 318;     ;  9.0;    ; 304;     ;22:11;       ;-999;    ;   -999;    ;  3.3;    ; 318;     ; -999;     ; -999;      ; -999;      ; -999;      ; -999;       ; 24.4;     ; -999;      ;EOR
202407222300;        13704;Sopron Kuruc-domb                       ; 47.6783;  16.6022;    232.8;  0.0;    ; 23.1;    ; 23.6;    ; 23.2;    ; 23.9;    ;  -999;    ;   -999;    ;  68;    ;    -999;    ;    0.0;    ;  -999;     ;  5.0;    ; 330;     ; 12.7;    ; 315;     ;23:22;       ;   2;    ;   -999;    ;  5.7;    ; 330;     ; -999;     ; -999;      ; -999;      ; -999;      ; -999;       ; 22.7;     ; -999;      ;EOR

In [8]:
df.head()

,202407222300,14707,Sopronhorpács,47.4806,16.7292,198.7,0.0,,23.6,.1,...,.1,-999.3,.2,-999.4,.1,-999.5,.5,-999.6,.3,EOR
0,202407222300,15310,Szombathely,47.1983,16.6478,200.1,0.0,,21.4,,...,,23.8,,21.6,,18.5,,-999,,EOR
1,202407222300,15811,Vasvár,47.0511,16.8119,227.0,0.0,,20.8,,...,,-999,,-999,,-999,,-999,,EOR
2,202407222300,16204,Szentgotthárd Farkasfa,46.9103,16.3094,310.7,0.0,,19.4,,...,,21.8,,18.4,,17.3,,-999,,EOR
3,202407222300,16414,Nagykutas,46.9258,16.8128,239.1,0.0,,20.5,,...,,-999,,-999,,19.4,,-999,,EOR
4,202407222300,17306,Iklódbördőce,46.6056,16.6131,164.3,0.0,,20.0,,...,,-999,,-999,,19.3,,-999,,EOR

# Run from here - utility function definition

we are using ```.env``` file and ```get_connection_env()```

In [9]:
import pandas as pd
import json
import os
from sqlalchemy_utils import drop_database, database_exists, create_database
from sqlalchemy import inspect, create_engine
local_test_no_auth = True


# not used
def get_connection_json():
    f = open("dbconnection.json")
    connection_data = json.load(f)
    DB_USER = connection_data["DB_USER"]

    DB_PASS = connection_data["DB_PASS"]
    DB_HOST = connection_data["DB_HOST"]
    DB_PORT = connection_data["DB_PORT"]
    DATABASE = connection_data["DATABASE"]
    CHARSET = "utf-8"
    connect_string = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(DB_USER, DB_PASS, DB_HOST, DB_PORT, DATABASE)

    # for local test with trust auth
    if local_test_no_auth:
        DB_HOST = 'localhost'
        DB_PASS='postgres'
        DB_USER='postgres'
        connect_string = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(DB_USER, DB_PASS, DB_HOST, DB_PORT, DATABASE)


    #connect_string = 'postgresql+psycopg2://{}:{}@{}:{}/{}?charset={}'.format(DB_USER, DB_PASS, DB_HOST, DB_PORT, DATABASE,
    #                                                                          CHARSET)
    '''
    if database_exists(connect_string):
        drop_database(connect_string)
    create_database(connect_string)
    '''
    if not database_exists(connect_string):
        create_database(connect_string)

    engine = create_engine(connect_string, connect_args={'client_encoding': CHARSET})


    return engine
# https://www.geeksforgeeks.org/how-to-create-and-use-env-files-in-python/
from dotenv import load_dotenv, dotenv_values 

load_dotenv()
def get_connection_env():

    CHARSET = "utf-8"
  
    # for local test with trust auth
    DB_HOST = os.getenv("DB_HOST")
    DB_USER=os.getenv("DB_USER")
    print("db usr",DB_USER)
    DB_PORT=os.getenv("DB_PORT")
    DB_PASS=os.getenv("DB_PASSWORD") 
    print("db pw:", DB_PASS)
    DATABASE =os.getenv("DATABASE_NAME")
    print("name:", DATABASE)

    connect_string = 'postgresql+psycopg2://{}:{}@{}:{}/{}'.format(DB_USER, DB_PASS, DB_HOST, DB_PORT, DATABASE)
    print(connect_string)

    if not database_exists(connect_string):
        create_database(connect_string)

    engine = create_engine(connect_string, connect_args={'client_encoding': CHARSET})
    return engine

day_table_name=os.getenv("UPDATE_TIMES_TABLE_NAME") 
def table_exists(engine,name):
    ins = inspect(engine)
    ret =ins.dialect.has_table(engine.connect(),name)
    print('Table "{}" exists: {}'.format(name, ret))
    return ret


def get_db_table(tn , engine):
    df = None
    if table_exists(engine,tn):
        df = pd.read_sql_table(day_table_name, engine)
    return df
def write_table(tn,df,engine):
    df.to_sql(tn, engine, if_exists='replace', method='multi', index=False)

def add_update_time(lst, engine):
    df = pd.DataFrame({'Time':lst})
    df.to_sql(day_table_name, engine, if_exists='replace', method='multi', index=False)

def append_to_table(name, df, engine):
    df.to_sql(name, engine, if_exists='append', method='multi', index=False)

check database name set in environment variable

In [10]:
os.getenv('DATABASE_NAME')

'odp'

Check which hours are already loaded in db 
    - before that bring up docker swarm: ```docker compose up```
    - should be run every two days - downloads always only the new data 
    - the timestamps here are coming from the name of the files, thus they are not whole hours, but can be used to decide whether we need a particular file

In [11]:
engine = get_connection_env()

def get_update_times_already_loaded(engine):
    lst=[]
    if table_exists(engine,day_table_name):
        df = pd.read_sql_table(day_table_name, engine)
        lst = df['Time'].to_list()
    return lst
times_already_loaded = get_update_times_already_loaded(engine)
times_already_loaded

db usr postgres
db pw: postgres
name: odp
postgresql+psycopg2://postgres:postgres@localhost:5432/odp
Table "update_times" exists: False

[]

Downloading files  from odp

In [12]:
data_folder= '../data/odp_met_hourly/'

In [13]:
files_list =os.listdir(data_folder)

get date from filename

In [14]:

pd.to_datetime(times_already_loaded)
#get_date(files_list[0])

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [15]:
fn= "HABP_1H_SYNOP_20240721111603.csv.zip"   
# helper method for parsing filename to date and time
def get_datetime(fn):
    try:
         print("getting date from {} ...".format(fn))
             
         srt = fn.split('.')[0].split('_')[-1]

         dt = pd.to_datetime(srt,format='%Y%m%d%H%M%S')
         '''year=int(fn[8:12])
         month=int(fn[12:14])
         day=int(fn[14:16])
         print(year, month,day)
         d= date(year,month,day)
         print(type(d),d)'''
         return dt
    except Exception as e:
        print('Exception:',e)
        return None
get_datetime(fn)

getting date from HABP_1H_SYNOP_20240721111603.csv.zip ...

Timestamp('2024-07-21 11:16:03')

download files from omsz and put content in dataframe - then push to database

In [16]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import zipfile
from datetime import date

domain = "https://odp.met.hu/"
# this contains daily measurements for all the the stations - with the station data 
url="https://odp.met.hu/weather/weather_reports/synoptic/hungary/hourly/csv/"
filetype=".zip"
data_table_name= 'weather'


def get_soup(url):
    return bs(requests.get(url).text,'html.parser')



count = 0
dates = get_update_times_already_loaded(engine)
new_data= []
for link in get_soup(url).find_all('a'):
    file_link= link.get('href')
    #print(link)
    if filetype not in file_link:
        print('Not searched file {}'.format(file_link))
        continue
    print(file_link)
    d = get_datetime(file_link)
    print('File found for {}'.format(d))
    if d in dates:
        print('Already loaded {}, SKIPPED'.format(d))
        continue
    if not d: 
        print('Not per date measurement file, SKIPPED')
        continue
    print('Downloading {}'.format(file_link))

    #zip_folder=data_folder+file_link.split('.')[0]+"/"
    with open(data_folder+ file_link,'wb') as file:
        response = requests.get(url+file_link)
        print('Response Code:', response.status_code)
        file.write(response.content)
    #print('F',data_folder)
    #print('FL',file_link)
    extracted_folder=data_folder+'extracted/'+file_link.split('.')[0]+'/'
    print(f'Extracting {data_folder+file_link} ')
    with zipfile.ZipFile(data_folder+file_link, 'r') as zip_ref:
        if not os.path.exists(extracted_folder):
            os.mkdir(extracted_folder)
        zip_ref.extractall(extracted_folder)
        for f in os.listdir(extracted_folder):
            df = pd.read_csv(extracted_folder + f, sep=";",skipinitialspace=True)
            print(df.keys())
            df['Time']=  pd.to_datetime(df['Time'], format='%Y%m%d%H%M%S')
            print(df['Time'].head())

            append_to_table(data_table_name,df,engine)
    days_df=pd.DataFrame.from_dict({'Time': [pd.to_datetime(d)]})
    append_to_table(day_table_name,days_df,engine)

Table "update_times" exists: False
Not searched file https://odp.met.hu
Not searched file ?C=N;O=D
Not searched file ?C=M;O=A
Not searched file ?C=S;O=A
Not searched file ?C=D;O=A
Not searched file /weather/weather_reports/synoptic/hungary/hourly/
Not searched file /weather/weather_reports/synoptic/hungary/hourly/
HABP_1H_SYNOP_20240722081608.csv.zip
getting date from HABP_1H_SYNOP_20240722081608.csv.zip ...
File found for 2024-07-22 08:16:08
Downloading HABP_1H_SYNOP_20240722081608.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722081608.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-21 19:00:00
1   2024-07-22 06:00:00
2   2024-07-22 06:00:00
3   2024-07-22 07:00:00
4   2024-07-22 07:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722081608.csv.zip
getting date from HABP_1H_SYNOP_20240722081608.csv.zip ...
File found for 2024-07-22 08:16:08
Downloading HABP_1H_SYNOP_20240722081608.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722081608.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-21 19:00:00
1   2024-07-22 06:00:00
2   2024-07-22 06:00:00
3   2024-07-22 07:00:00
4   2024-07-22 07:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722091606.csv.zip
getting date from HABP_1H_SYNOP_20240722091606.csv.zip ...
File found for 2024-07-22 09:16:06
Downloading HABP_1H_SYNOP_20240722091606.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722091606.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 08:00:00
1   2024-07-22 09:00:00
2   2024-07-22 09:00:00
3   2024-07-22 09:00:00
4   2024-07-22 09:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722091606.csv.zip
getting date from HABP_1H_SYNOP_20240722091606.csv.zip ...
File found for 2024-07-22 09:16:06
Downloading HABP_1H_SYNOP_20240722091606.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722091606.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 08:00:00
1   2024-07-22 09:00:00
2   2024-07-22 09:00:00
3   2024-07-22 09:00:00
4   2024-07-22 09:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722101604.csv.zip
getting date from HABP_1H_SYNOP_20240722101604.csv.zip ...
File found for 2024-07-22 10:16:04
Downloading HABP_1H_SYNOP_20240722101604.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722101604.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 09:00:00
1   2024-07-22 10:00:00
2   2024-07-22 10:00:00
3   2024-07-22 10:00:00
4   2024-07-22 10:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722101604.csv.zip
getting date from HABP_1H_SYNOP_20240722101604.csv.zip ...
File found for 2024-07-22 10:16:04
Downloading HABP_1H_SYNOP_20240722101604.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722101604.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 09:00:00
1   2024-07-22 10:00:00
2   2024-07-22 10:00:00
3   2024-07-22 10:00:00
4   2024-07-22 10:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722111604.csv.zip
getting date from HABP_1H_SYNOP_20240722111604.csv.zip ...
File found for 2024-07-22 11:16:04
Downloading HABP_1H_SYNOP_20240722111604.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722111604.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 00:00:00
1   2024-07-22 03:00:00
2   2024-07-22 03:00:00
3   2024-07-22 07:00:00
4   2024-07-22 08:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722111604.csv.zip
getting date from HABP_1H_SYNOP_20240722111604.csv.zip ...
File found for 2024-07-22 11:16:04
Downloading HABP_1H_SYNOP_20240722111604.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722111604.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 00:00:00
1   2024-07-22 03:00:00
2   2024-07-22 03:00:00
3   2024-07-22 07:00:00
4   2024-07-22 08:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722121605.csv.zip
getting date from HABP_1H_SYNOP_20240722121605.csv.zip ...
File found for 2024-07-22 12:16:05
Downloading HABP_1H_SYNOP_20240722121605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722121605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 01:00:00
1   2024-07-22 11:00:00
2   2024-07-22 11:00:00
3   2024-07-22 12:00:00
4   2024-07-22 12:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722121605.csv.zip
getting date from HABP_1H_SYNOP_20240722121605.csv.zip ...
File found for 2024-07-22 12:16:05
Downloading HABP_1H_SYNOP_20240722121605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722121605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 01:00:00
1   2024-07-22 11:00:00
2   2024-07-22 11:00:00
3   2024-07-22 12:00:00
4   2024-07-22 12:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722131605.csv.zip
getting date from HABP_1H_SYNOP_20240722131605.csv.zip ...
File found for 2024-07-22 13:16:05
Downloading HABP_1H_SYNOP_20240722131605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722131605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 13:00:00
1   2024-07-22 13:00:00
2   2024-07-22 13:00:00
3   2024-07-22 13:00:00
4   2024-07-22 13:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722131605.csv.zip
getting date from HABP_1H_SYNOP_20240722131605.csv.zip ...
File found for 2024-07-22 13:16:05
Downloading HABP_1H_SYNOP_20240722131605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722131605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 13:00:00
1   2024-07-22 13:00:00
2   2024-07-22 13:00:00
3   2024-07-22 13:00:00
4   2024-07-22 13:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722141605.csv.zip
getting date from HABP_1H_SYNOP_20240722141605.csv.zip ...
File found for 2024-07-22 14:16:05
Downloading HABP_1H_SYNOP_20240722141605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722141605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 00:00:00
1   2024-07-22 00:00:00
2   2024-07-22 01:00:00
3   2024-07-22 02:00:00
4   2024-07-22 03:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722141605.csv.zip
getting date from HABP_1H_SYNOP_20240722141605.csv.zip ...
File found for 2024-07-22 14:16:05
Downloading HABP_1H_SYNOP_20240722141605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722141605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 00:00:00
1   2024-07-22 00:00:00
2   2024-07-22 01:00:00
3   2024-07-22 02:00:00
4   2024-07-22 03:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722151605.csv.zip
getting date from HABP_1H_SYNOP_20240722151605.csv.zip ...
File found for 2024-07-22 15:16:05
Downloading HABP_1H_SYNOP_20240722151605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722151605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 13:00:00
1   2024-07-22 14:00:00
2   2024-07-22 15:00:00
3   2024-07-22 15:00:00
4   2024-07-22 15:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722151605.csv.zip
getting date from HABP_1H_SYNOP_20240722151605.csv.zip ...
File found for 2024-07-22 15:16:05
Downloading HABP_1H_SYNOP_20240722151605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722151605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 13:00:00
1   2024-07-22 14:00:00
2   2024-07-22 15:00:00
3   2024-07-22 15:00:00
4   2024-07-22 15:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722161605.csv.zip
getting date from HABP_1H_SYNOP_20240722161605.csv.zip ...
File found for 2024-07-22 16:16:05
Downloading HABP_1H_SYNOP_20240722161605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722161605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 15:00:00
1   2024-07-22 16:00:00
2   2024-07-22 16:00:00
3   2024-07-22 16:00:00
4   2024-07-22 16:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722161605.csv.zip
getting date from HABP_1H_SYNOP_20240722161605.csv.zip ...
File found for 2024-07-22 16:16:05
Downloading HABP_1H_SYNOP_20240722161605.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722161605.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 15:00:00
1   2024-07-22 16:00:00
2   2024-07-22 16:00:00
3   2024-07-22 16:00:00
4   2024-07-22 16:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722171603.csv.zip
getting date from HABP_1H_SYNOP_20240722171603.csv.zip ...
File found for 2024-07-22 17:16:03
Downloading HABP_1H_SYNOP_20240722171603.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722171603.csv.zip
Index(['Time', 'StationNumber', 'StationName                             ',
       'Latitude', 'Longitude', 'Elevation', 'r', 'Q_r', 't', 'Q_t', 'ta',
       'Q_ta', 'tn', 'Q_tn', 'tx', 'Q_tx', 'v', 'Q_v', 'p', 'Q_p', 'u', 'Q_u',
       'sg', 'Q_sg', 'sr', 'Q_sr', 'suv', 'Q_suv', 'fs', 'Q_fs', 'fsd',
       'Q_fsd', 'fx', 'Q_fx', 'fxd', 'Q_fxd', 'fxdat', 'Q_fxdat', 'we', 'Q_we',
       'p0', 'Q_p0', 'f', 'Q_f', 'fd', 'Q_fd', 'et5', 'Q_et5', 'et10',
       'Q_et10', 'et20', 'Q_et20', 'et50', 'Q_et50', 'et100', 'Q_et100', 'tsn',
       'Q_tsn', 'tviz', 'Q_tviz', 'EOR'],
      dtype='object')
0   2024-07-22 17:00:00
1   2024-07-22 17:00:00
2   2024-07-22 17:00:00
3   2024-07-22 17:00:00
4   2024-07-22 17:00:00
Name: Time, dtype: datetime64[ns]
HABP_1H_SYNOP_20240722171603.csv.zip
getting date from HABP_1H_SYNOP_20240722171603.csv.zip ...
File found for 2024-07-22 17:16:03
Downloading HABP_1H_SYNOP_20240722171603.csv.zip
Response Code: 200
Extracting ../data/odp_met_hourly/HABP_1H_SYNOP_20240722171603.csv.zip

In [17]:
df.head()

,Time,StationNumber,StationName,Latitude,Longitude,Elevation,r,Q_r,t,Q_t,...,Q_et20,et50,Q_et50,et100,Q_et100,tsn,Q_tsn,tviz,Q_tviz,EOR
0,2024-07-22 18:00:00,38537,Boda,46.0867,18.0464,233.0,0.0,NaN,-999.0,NaN,...,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,EOR
1,2024-07-22 18:00:00,58102,Szeged belterület,46.2472,20.1406,103.9,0.0,NaN,-999.0,NaN,...,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,EOR
2,2024-07-22 19:00:00,38537,Boda,46.0867,18.0464,233.0,0.0,NaN,-999.0,NaN,...,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,EOR
3,2024-07-22 19:00:00,58102,Szeged belterület,46.2472,20.1406,103.9,0.0,NaN,-999.0,NaN,...,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,EOR
4,2024-07-22 20:00:00,38537,Boda,46.0867,18.0464,233.0,0.0,NaN,-999.0,NaN,...,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,-999.0,NaN,EOR

In [18]:
# read table data using sql query 
sd=pd.Timestamp.now()
ed=pd.Timestamp.now()-pd.to_timedelta(7, unit='d')

sd=sd.strftime('%Y-%m-%d %H:%M:%S')
ed=ed.strftime('%Y-%m-%d %H:%M:%S')
print(sd,ed)
# ,\"StationNumber\",\"StationName\"
q= "SELECT \"Time\", u, ta, \"Latitude\", \"Longitude\", \"StationNumber\" FROM weather WHERE \"Time\" >= '{}' AND \"Time\" < '{}'".format(ed,sd)
print(q)

sql_df = pd.read_sql( 
    q, 
    con=engine  
) 
# print the postgresql table loaded as  
# pandas dataframe 
print(sql_df)

2024-07-23 09:57:21 2024-07-16 09:57:21
SELECT "Time", u, ta, "Latitude", "Longitude", "StationNumber" FROM weather WHERE "Time" >= '2024-07-16 09:57:21' AND "Time" < '2024-07-23 09:57:21'
                    Time    u     ta  Latitude  Longitude  StationNumber
0    2024-07-21 19:00:00   76   24.2   46.4400    17.3744          27615
1    2024-07-22 06:00:00 -999 -999.0   46.0867    18.0464          38537
2    2024-07-22 06:00:00   80   23.0   46.9778    21.0544          66103
3    2024-07-22 07:00:00   61   25.4   46.6172    17.8703          27406
4    2024-07-22 07:00:00   67   25.6   47.5200    20.1489          54107
...                  ...  ...    ...       ...        ...            ...
6777 2024-07-23 07:00:00   66   24.7   48.1042    22.7694          72805
6778 2024-07-23 07:00:00   72   23.6   47.8636    22.2222          73110
6779 2024-07-23 07:00:00   71   23.7   47.8456    22.6631          73313
6780 2024-07-23 07:00:00   63   25.2   47.6961    22.0569          73505
6781 2024-07-23 07:00:00   64   25.3   47.4400    22.0011          74500

[6782 rows x 6 columns]

In [19]:
sql_df['TRH9010_cond']= (sql_df['ta'] >15) & (sql_df['ta']< 30) & (sql_df['u']>90)

In [20]:
import numpy as np

In [21]:
import pandas as pd

In [22]:
df1 =pd.DataFrame({ "cond" :pd.Series([True,True,False,False,False,True])})

In [23]:
df1

    cond
0   True
1   True
2  False
3  False
4  False
5   True

In [24]:

df1 = pd.DataFrame(\
    {
        'StationNumber':[1,1,1,1,2,2,2,2,2,1,1,1,3,3,3,3,3,3,3,3],
        'TRH9010_cond':[False,False,False,True,False,False,False,False,False,True,True,False,False,True,True,False,True,True,True, True] })

In [25]:
df1

    StationNumber  TRH9010_cond
0               1         False
1               1         False
2               1         False
3               1          True
4               2         False
5               2         False
6               2         False
7               2         False
8               2         False
9               1          True
10              1          True
11              1         False
12              3         False
13              3          True
14              3          True
15              3         False
16              3          True
17              3          True
18              3          True
19              3          True

In [26]:
# function for calculating p -value
# TODO do we need sorting by time? 
def caculate_p(df1):
    df=df1.copy()
    df['equal_last'] = df.groupby('StationNumber').apply(
        lambda x: x['TRH9010_cond'] == x['TRH9010_cond'].shift(1)).to_list()
    # did the truth value of the condition change? we set 1, if there was no change
    df['crossing'] = df['equal_last'].map({True: np.nan, False: 1})
    # number of  hours without  change
    a = df.groupby('StationNumber').apply(lambda x: x['crossing'].cumsum().ffill())
    #  stage = number of the current period without change, for grouping and counting the length of it 
    df['stage'] = a.reset_index(level=0, drop=True)
    # for how many hours there was no change
    # here should add history, stage should be set to 0 if no change between it
    
    df['TRH9010'] = df.groupby(['StationNumber', 'stage'])['TRH9010_cond'].transform('cumcount')
    # fusarium p 
    df['p']=0.0
    df.loc[(df['TRH9010_cond']==True) & (df['TRH9010']>0),'p']=6.8128*df['TRH9010']-3.3756
    return df.drop(columns=['equal_last','crossing','stage'])
#caculate_p(df)
def add_history(df_hist,df1):
    df2 = df1.reset_index()
    firsts = df2.groupby('StationNumber').first()
    firsts.set_index('index')
    lasts = df_hist.groupby('StationNumber').last().reset_index()
    merged = firsts.merge(lasts,on='StationNumber',suffixes=('','_last'))

    merged['TRH9010'] = np.where(merged['TRH9010_cond'] == merged['TRH9010_cond_last'],
                                 1 + merged['TRH9010_last'], merged['TRH9010'])
    new_counts = merged.loc[:, ~merged.columns.str.endswith('_last')]
    df1.loc[firsts.index] = merged
    return df1

def caculate_p_incremental(df1, history_df):
    df=df1.copy()
    df['equal_last'] = df.groupby('StationNumber').apply(
        lambda x: x['TRH9010_cond'] == x['TRH9010_cond'].shift(1)).to_list()
    # did the truth value of the condition change? we set 1, if there was no change
    df['crossing'] = df['equal_last'].map({True: np.nan, False: 1})
    # number of  hours without  change
    a = df.groupby('StationNumber').apply(lambda x: x['crossing'].cumsum().ffill())
    #  stage = number of the current period without change, for grouping and counting the length of it 
    df['stage'] = a.reset_index(level=0, drop=True)
    # for how many hours there was no change
    # here should add history, stage should be set to 0 if no change between it
    df['TRH9010'] = df.groupby(['StationNumber', 'stage'])['TRH9010_cond'].transform('cumcount')
    df = add_history(history_df,df)
    # fusarium p 
    df['p']=0.0
    df.loc[(df['TRH9010_cond']==True) & (df['TRH9010']>0),'p']=6.8128*df['TRH9010']-3.3756
    return df.drop(columns=['equal_last','crossing','stage'])


def find_stages(df1):
    df=df1.copy()
    df['equal_last'] = df.groupby('StationNumber').apply(
        lambda x: x['TRH9010_cond'] == x['TRH9010_cond'].shift(1)).to_list()
    # did the truth value of the condition change? we set 1, if there was no change
    df['crossing'] = df['equal_last'].map({True: np.nan, False: 1})
    # number of  hours without  change
    a = df.groupby('StationNumber').apply(lambda x: x['crossing'].cumsum().ffill())
    #  stage = number of the current period without change, for grouping and counting the length of it 
    df['stage'] = a.reset_index(level=0, drop=True)
    # for how many hours there was no change
    # here should add history, stage should be set to 0 if no change between it
    df['TRH9010'] = df.groupby(['StationNumber', 'stage'])['TRH9010_cond'].transform('cumcount')
    return df

In [27]:
caculate_p(df1)

/var/folders/sp/j3p6g91d6dj8wzlq0vy4dw8r0000gn/T/ipykernel_52273/998563707.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df['equal_last'] = df.groupby('StationNumber').apply(
/var/folders/sp/j3p6g91d6dj8wzlq0vy4dw8r0000gn/T/ipykernel_52273/998563707.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  a = df.groupby('StationNumber').apply(lambda x: x['crossing'].cumsum().ffill())

    StationNumber  TRH9010_cond  TRH9010        p
0               1         False      0.0   0.0000
1               1         False      1.0   0.0000
2               1         False      2.0   0.0000
3               1          True      0.0   0.0000
4               2         False      NaN   0.0000
5               2         False      NaN   0.0000
6               2         False      0.0   0.0000
7               2         False      0.0   0.0000
8               2         False      1.0   0.0000
9               1          True      1.0   3.4372
10              1          True      2.0  10.2500
11              1         False      3.0   0.0000
12              3         False      0.0   0.0000
13              3          True      0.0   0.0000
14              3          True      1.0   3.4372
15              3         False      0.0   0.0000
16              3          True      0.0   0.0000
17              3          True      1.0   3.4372
18              3          True      2.0  10.2500
19              3          True      3.0  17.0628

In [28]:
df1

    StationNumber  TRH9010_cond
0               1         False
1               1         False
2               1         False
3               1          True
4               2         False
5               2         False
6               2         False
7               2         False
8               2         False
9               1          True
10              1          True
11              1         False
12              3         False
13              3          True
14              3          True
15              3         False
16              3          True
17              3          True
18              3          True
19              3          True

In [29]:
df2 = df1.reset_index()

In [30]:
firsts = df2.groupby('StationNumber').first()

In [31]:
firsts

               index  TRH9010_cond
StationNumber
1                  0         False
2                  4         False
3                 12         False

In [32]:
firsts.set_index('index')

       TRH9010_cond
index
0             False
4             False
12            False

In [33]:
df1.loc[firsts.index]=firsts

In [34]:
firsts.index

Index([1, 2, 3], dtype='int64', name='StationNumber')

In [35]:
lasts = df2.groupby('StationNumber').last()

In [36]:
lasts = df1.groupby('StationNumber').last().reset_index()

In [37]:
merged = firsts.merge(lasts,on='StationNumber',suffixes=('','_last'))

In [38]:
merged

   StationNumber  index  TRH9010_cond  TRH9010_cond_last
0              1      0         False              False
1              2      4         False              False
2              3     12         False               True

In [39]:
merged['TRH9010']=np.where(merged['TRH9010_cond']==merged['TRH9010_cond_last'],merged['TRH9010']+merged['TRH9010_last'],merged['TRH9010'])

KeyError: 'TRH9010'

In [ ]:
new_counts=merged.loc[:,~merged.columns.str.endswith('_last')]

In [ ]:
df1

In [ ]:
lasts

In [ ]:
to_map = caculate_p(sql_df)

In [ ]:
to_map.head()

In [ ]:
output_location='../output/'
to_map[['Time','u','ta','Latitude','Longitude','p']].to_csv(output_location+'test_output.csv')

In [ ]:


df1 = pd.DataFrame(\
    {
        'StationNumber':[1,1,1,1,2,2,2,2,2,1,1,1,3,3,3,3,3,3,3,3],
        'TRH9010_cond':[False,False,False,True,False,False,False,False,False,True,True,True,True,True,True,False,True,True,True, True] }) 
df1

In [ ]:
n=find_stages(df1)

In [ ]:
h = caculate_p(df1)

In [ ]:
h

In [ ]:
df1

In [ ]:
df_new = caculate_p_incremental(h,n)

In [ ]:
df_new

In [ ]:
df1

In [ ]:

add_history(df1,df1)

In [ ]:
df1

In [ ]:
to_map = caculate_p(sql_df)

In [ ]:
to_map.head()

In [ ]:
output_location='../output/'

In [ ]:
to_map[['Time','u','ta','Latitude','Longitude','p']].to_csv(output_location+'test_output.csv')

# time execution: we should run query every hour 

[stackoverflow](https://stackoverflow.com/questions/73358409/how-to-schedule-a-script-to-run-every-day-for-python)

[schedule lib](https://schedule.readthedocs.io/en/stable/)

In [73]:
import schedule
import time
i=0

def test_f(x):
    print(f"Exec {x}")

    

schedule.every(5).seconds.do(test_f, 1)


i=0
while i<30:
    schedule.run_pending()
    time.sleep(1)
    i+=1

Exec 1
Exec 1
Exec 1
Exec 1
Exec 1

In [ ]:
from datetime import timedelta

fusarium_table_name = os.getenv('FUSARIUM_TABLE_NAME')

    

def get_fusarium_history(first_date, tn):
    
    if not table_exists(engine,tn):
        return None 
    #TODO  magic constant
    d = first_date - timedelta(minutes=70)
    q= "SELECT \"Time\", u, ta, \"Latitude\", \"Longitude\", \"StationNumber\", \"TRH9010_cond\" ,\"p\" FROM {} WHERE \"Time\" >= '{}'".format(tn,d)
    print(q)
    sql_df = pd.read_sql( 
        q, 
        con=engine  
    ) 
    if sql_df.empty:
        return None
        
    

def increment_p( df, first_date, hist_tn):
    # function for calculating p -value
    df['TRH9010_cond']= (df['ta'] >15) & (df['ta']< 30) & (df['u']>90)
    df_hist = get_fusarium_history(first_date,hist_tn)
    if df_hist:
        df = pd.caculate_p_incremental(df_hist,df)
        print('adding history.. ')
    else:
        print('No history to use')
        df = caculate_p(df)
    # if there is incrementation, otherwise at first fill, we write everything we got
    print(df.head())

    if df_hist:
        df= df[df['Time']>=first_date]
    return df

In [ ]:
time = df['Time'].min()
incremented = increment_p(df,time, fusarium_table_name)
incremented = incremented[['Time','u','ta','Latitude','Longitude','p']]

In [ ]:
fusarium_table_name = os.getenv('FUSARIUM_TABLE_NAME')

In [ ]:
print(fusarium_table_name)

In [ ]:
append_to_table(fusarium_table_name,incremented,engine)

In [ ]:
incremented.head()

In [ ]:
incremented.index

In [ ]:
df_hist

In [ ]:
from sqlalchemy.dialects.mysql import insert

def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_duplicate_key_update(insert_stmt.inserted)
    conn.execute(on_duplicate_key_stmt)

In [ ]:
df.to_sql(fusarium_table_name+"_", engine, if_exists='append', chunksize=4096, method=insert_on_duplicate)

In [ ]:
fusarium_table_name

In [ ]:
int(1)

In [ ]:
!conda list

In [ ]:
import pandas as pd
import datetime, pytz
    
# t is a date after 2262 that should be coerced into NaT
t = datetime.datetime(3000, 1, 1, 0, 0, 0, 0, pytz.UTC)

# lists with many such dates
l50 = [t] * 50
l51 = [t] * 51

# pd.to_datetime crashes if the list is longer that 50

# this is fine
print(pd.to_datetime(l50, utc=True, errors='coerce'))  

# this crashes
print(pd.to_datetime(l51, utc=True, errors='coerce'))